*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to left, #3b6ab1, #14325e);
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    background-color: #3b6ab1;
    color:white;
    transition-duration: 0.5s;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    border: 3px solid white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgb(214, 217, 219);
    font-size: 1.8rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

#ac {
    background-color: rgb(218, 73, 73);
}

#delete{ background-color:rgb(235, 12, 12);}

#equals{ background-color: rgb(51, 146, 51);}


/* Responsiveness */

@media screen and (max-width: 1024px) { 
    .calculator-grid{
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: minmax(100px, auto) repeat(5, 100px);
    }

    .calculator-grid > button {
        font-size: 2rem;    
    }

    .output .previous-operand {
        font-size: 2.5rem;
    }
    
    .output .current-operand {
        font-size:2.8rem;
    }
}

@media screen and (max-width: 414px) { 
    .calculator-grid{
        grid-template-columns: repeat(4, 80px);
        grid-template-rows: minmax(80px, auto) repeat(5, 80px);
    }

    .calculator-grid > button {
        font-size: 1.5rem;    
    }

    .output .previous-operand {
        font-size: 1.5rem;
    }
    
    .output .current-operand {
        font-size: 1.8rem;
    }
}


@media screen and (max-width: 375px) { 

    .calculator-grid > button {
        font-size: 1rem;    
    }
}

@media screen and (max-width: 360px) { 
    .calculator-grid{
        grid-template-columns: repeat(4, 70px);
    }

    .output .previous-operand {
        font-size: 1.2rem;
    }
    
    .output .current-operand {
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 320px) { 
    .calculator-grid{
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: minmax(20px, auto) repeat(5, 80px);
    }   
}

@media screen and (max-width: 280px) { 
    .calculator-grid{
        grid-template-columns: repeat(4, 60px);
        grid-template-rows: minmax(40px, auto) repeat(5, 50px);
    }
    
}

@media screen and (max-width: 240px) { 
    .calculator-grid{
        grid-template-columns: repeat(4, 50px);
        grid-template-rows: minmax(20px, auto) repeat(5, 50px);
    }

    .calculator-grid > button {
        font-size: 1rem;    
    }

    .output .previous-operand {
        font-size: 1rem;
    }
    
    .output .current-operand {
        font-size: 1rem;
    }
    
}
